*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
  font-weight: 100;
}
body, html{
  background-color: #2e2eff;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
}
